<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'todo.png' %}" rel="shortcut icon" type="image/png" />
</head>
<body>
    <h1>Add a ToDo item</h1>
    <form action="{% url 'add_item_manual' %}" method="POST">
        <h2>Manually created form elements and verification</h2>
        <!-- Generate token to server accept request -->
        {% csrf_token%}
        <p>
            <label for="id_name">Item Name</label>
            <input type="text" id="id_name" name="item_name">
        </p>
        <p>
            <label for="id_done">Done?</label>
            <input type="checkbox" id="id_done" name="item_done">
        </p>
        <p>
            <button type="submit">Add Item</button>
        </p>
    </form>
</body>
</html>